.containerthumbnail {

	margin:5px;
	float:left;
}

.thumbnailm {
	margin-bottom:0px;
	cursor:pointer;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;	
}

.thumbnailm:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);	
}

.transparentcover {
  position: relative;
  cursor:pointer;
}

.transparentcover:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
}

.thumbnaillookbook {
	margin-bottom:0px;
	cursor:pointer;	
}
.lookbookcontainer {
	width:100%;
	
}
#lookbookleft {
	float: left;
	width: 230px; 
	margin-left: -100%;
}

#lookbookright {
	float: left;
	width: 100%;
	
}

#lookbookrightinner {
	margin-left:230px;
	padding:20px;
}
.imagebig {
	max-width:100%;
	padding-bottom:20px;
}